
# Binaries for programs and plugins
# Files
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
.build-harness
.build-harness-bootstrap
OPENSOURCE.check
.vscode
cover.html
cover-functional.html
cover-functional-filtered.html
*.tap
*.test
.DS_Store
.idea
test

# Folders
.build-docker
build/_output
build-harness
build-harness-extensions
vendor

test/e2e/resources/clusters
test/e2e/resources/hubs

!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions

go-bindata.diff